/* .feedback {
  align-self: flex-start;
  padding: 20px;
  border: 2px solid orange;
  border-radius: 8px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.item {
} */
